node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# circom *.circom --r1cs --wasm  
*.r1cs
*.wasm
*.ptau